.leftcol{
    background-color: #1F4E79;
    color: #ffffff;

}
.profile-photo{
    height: 250px;
    width: 70%;
    border-radius: 50%;
}
.negative-margin{
    margin-left: -1.5rem;
}
.justify-text{
    text-align: justify;
}
.fs-7{
    font-size: .8rem;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .profile-photo{
        height: 200px;
        width: 80%;
    }

  }